# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
virtenv/
.env

# Notebooks checkpoints
.ipynb_checkpoints

# OS files
.DS_Store

# Logs
*.log

# test folder
test/

src/va_step1_base.py
src/va_step2_anomalies.py

#config files
*.cfg
config/config.yaml
!infra/airflow/config/airflow.cfg